@media screen and (max-width:762px){
    main{
        width: 90vw;
        height: 140vh;
        flex-flow: column-reverse nowrap;
        .first{
            text-align: center;
            width: 100%;
            min-height: 60%;
            .two{
                flex-flow: column nowrap;
                align-items: center;
                justify-content: inherit !important;
                .col{   
                    margin: 2rem 0 ;
                }
            }
        }
        .second{
            overflow: hidden;
            width: 100%;
            min-height: 40%;
            .desk{
                img{
                    width: 100% !important;
                    height:50% !important;
                }
            }
        }
    }
    footer{
        bottom: -50%;
        margin-bottom: 1rem;
    }
}