@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
$darkblue: #090b1a;
$Darkdesaturatedblue: #1b1938;
$Softviolet: #aa5cdb;
$White: #fff;
$Slightlytransparentwhite: #ffffffbf;
$Slightlytransparentwhite: #ffffff99;